body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #fdfdfd;
  background-size: auto 1200px;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.button,
.quick-search {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}



.site-navigation {
  font-weight: 700;
  list-style: none;
  color: #000000;
}

.quick-search,
.summ-result {
  font-size: 21px;
}

.quick-search:hover {
  background-color: #669ec0;
}

.quick-search:active,
.button:active {
  color: #94b9d2;
  background-color: #5496bd;
}

a.do-search,
a.do-search:visited {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

a.sort {
  color: #cacaca;
  border-bottom: 1px;
  border-bottom-color: #81b3d2;
  border-bottom-style: dotted;
}

a.sort:hover {
  color: #81b3d2;
  border-bottom: 1px;
  border-bottom-color: #81b3d2;
  border-bottom-style: dotted;
}

a.sort:active {
  color: #000000;
  border: none;
}

a.book,
a.book:visited {
  color: #ffffff;
  background-color: #766357;
}

a.do-search:hover,
a.book:hover {
  background-color: #604e43;
}

a.do-search:active,
a.book:active {
  color: #928a85;
  background-color: #503e33;
}

.why-we {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.content-description,
.followus,
.result-item h3 {
  font-size: 21px;
}

h3.feauteres-head,
h4.advanced-head {
  font-size: 21px;
  line-height: 21px;
}

.feauteres-number,
.feauteres-decription,
p.advanced-decription,
.searsh-item-type,
.searsh-item-pricefrom,
.raiting-hotel {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.main-feauteres {
  color: #ffffff;
  background-color: #81b3d2;
}

.search-interest {
  font-size: 30px;
  line-height: 24px;
}

.search-description {
  line-height: 24px;
  font-weight: normal;
}

.twitter {
  background: url("/img/twitter.svg") no-repeat;
}

.facebook {
  background: url("/img/fb-icon.svg") no-repeat;
}

.youtube {
  background: url("/img/youtube.svg") no-repeat;
}

.social li {
  list-style: none;
  background-color: #81b3d2;
}

.infractructure,
.pricing {
  font-size: 16px;
  line-height: 21px;
}

.filters ul,
.sort-by,
.sort-up-down,
.result-list,
.result-action,
.result-rate {
  list-style: none;
}

.filters label {
  font-size: 14px;
  line-height: 21px;
}

.filters {
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("/img/bg-hotels.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.filters fieldset {
  border: none;
}


.filters-submit {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
}

.filters-submit:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.sort-name {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
